
<header id="header-part">
    <div id="heading-part">
        <h2>Global Chat</h2>
     </div>

 
  
    <% if(locals.user) { %>
        <ul id="link-part">
        <div id="details-part">
        <div id="profile-name">
       <li><a href="/users/profile"><%= user.name %></a></li>
       </div>
       <div id="sign-out">
      <li> <a href="/users/sign-out">Sign-out</a></li>
      </div>
      </div>
    </ul> 
      <% } else { %>
        <div id="celeb-page">
        <p><a href="#">Create  a  Page</a> For  a  Celebrity , band  or  bussiness</p> 
        </div>
    <% } %>
 
    
 </header>
