// header part of the pages............

#header-part{
    width: 100%;
    height: 8%;
    background-color: #4c646a8f;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    #heading-part{
        line-height: 10px;
        margin-left: 20px;
    }
    #link-part{
        width: 15%;
        #details-part{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
   
    #celeb-page{
        line-height: 14px;
        margin-right: 20px; 
        p{
            color: #000000bf;
            font-size: 19px;
            a{
                text-decoration: none;
                color: black;
                font-weight: bold;
            }
        }
    }
}